.add-item {
      font-family: Verdana;
      font-weight: 600;
      font-size: 2vh;
    }
    
    .stages {
      display: flex;
      justify-content: space-between;
    }
    
    .stage-item {
      height: 400px;
      width: 24%;
      font-family: Verdana;
      font-weight: 600;
      font-size: 2vh;
    }
    
    .stage-item .btn-idea {
      display: block;
      margin-top: 3px;
      cursor: pointer;
      background-color: white;
      border-radius: 3px;
      font-family: Verdana;
      font-size: 2vh;
    }
    
    .stage-item .btn-idea:hover {
      background-color: yellow;
    }

    .input-section{
      border-bottom: 1px solid grey;
      padding: 5px;
      margin: 2px 2px 6px 2px;
    }

    label{
      margin-right: 2px;
    }